<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy for FMS</title>
    <link rel="canonical" href="{{ request.base_url }}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='sms.png')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/iconify.min.js')}}"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div>

      <nav class="rounded-lg bg-indigo-50 flex flex-wrap items-center justify-between p-4">
        <div class="lg:order-2 w-auto lg:w-1/5 lg:text-center"><a class="text-xl text-indigo-600 font-semibold font-heading" href="https://freenumbersms.com/">Free Number SMS</a></div>
        <div class="block lg:hidden">
          <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500">
            <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
          <button class="ml-20 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mr-10 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            <a href="javascript:;">Buy Private Number</a>
          </button>
        </div>
        <div class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right">
          <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/faq">FAQ</a>
          <a class="mr-20 block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/contact">Contact</a>
        </div>
      </nav>
    </div>

    <section class="py-12 px-4">
        <div class="w-full max-w-2xl mx-auto">
          <div class="space-y-6 tracking-wide leading-loose mb-8 leading-relaxed">
            <h1 class="text-center text-3xl mt-2 mb-6 leading-tight font-semibold font-heading">Privacy Policy for FMS</h1>
            <p>At FREENUMBERSMS, accessible from FREENUMBERSMS.COM, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by FREENUMBERSMS and how we use it.</p>

            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

            <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in FREENUMBERSMS. This policy is not applicable to any information collected offline or via channels other than this website.</p>

            <h2 class="text-xl">Consent</h2>

            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

            <h2 class="text-xl">Information we collect</h2>

            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

            <h2 class="text-xl">How we use your information</h2>

            <p>We use the information we collect in various ways, including to:</p>

            <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Develop new products, services, features, and functionality</li>
            <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
            <li>Send you emails</li>
            <li>Find and prevent fraud</li>
            </ul>

            <h2 class="text-xl">Log Files</h2>
            <p>FREENUMBERSMS follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>


            <h2 class="text-xl">Google DoubleClick DART Cookie</h2>

            <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>


            <h2 class="text-xl">Advertising Partners Privacy Policies</h2>

            <P>You may consult this list to find the Privacy Policy for each of the advertising partners of FREENUMBERSMS.</p>

            <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on FREENUMBERSMS, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

            <p>Note that FREENUMBERSMS has no access to or control over these cookies that are used by third-party advertisers.</p>

            <h2 class="text-xl">Third Party Privacy Policies</h2>

            <p>FREENUMBERSMS's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

            <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

            <h2 class="text-xl">CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

            <p>Under the CCPA, among other rights, California consumers have the right to:</p>
            <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
            <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
            <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

            <h2 class="text-xl">GDPR Data Protection Rights</h2>

            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
            <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
            <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
            <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
            <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
            <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

            <h2 class="text-xl">Children's Information</h2>

            <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

            <p>FREENUMBERSMS does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
          </div>
        </div>
    </section>
    <footer class="rounded-lg bg-indigo-50 flex flex-wrap items-center justify-between p-4 mt-32">
        <div class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center">&copy; 2021 Free Number SMS</div>
        <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto">
          <div class="mx-auto lg:mx-0 lg:ml-auto">
            <a class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/terms">Terms of services</a>
            <a class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/privacy">Privacy</a>
          </div>
          <div class="flex justify-center space-x-6 mt-4 lg:mt-0 lg:ml-8">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="http://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:pinterest" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/share?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:twitter" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:linkedin-icon" data-inline="false"></span>
            </a>
          </div>
        </div>
      </footer>
</body>
</html>