<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy for FMS</title>
    <link rel="canonical" href="{{ request.base_url }}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='sms.png')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/iconify.min.js')}}"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div>

      <nav class="rounded-lg bg-indigo-50 flex flex-wrap items-center justify-between p-4">
        <div class="lg:order-2 w-auto lg:w-1/5 lg:text-center"><a class="text-xl text-indigo-600 font-semibold font-heading" href="https://freenumbersms.com/">Free Number SMS</a></div>
        <div class="block lg:hidden">
          <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500">
            <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
          <button class="ml-20 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mr-10 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            <a href="javascript:;">Buy Private Number</a>
          </button>
        </div>
        <div class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right">
          <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/faq">FAQ</a>
          <a class="mr-20 block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/contact">Contact</a>
        </div>
      </nav>
    </div>

    <section class="py-12 px-4">
        <div class="w-full max-w-2xl mx-auto">
          <div class="space-y-6 tracking-wide leading-loose mb-8 leading-relaxed">
            <h1 class="text-center text-3xl mt-2 mb-6 leading-tight font-semibold font-heading">Website Terms and Conditions of Use</h1>
            <h2 class="text-xl">1. Terms</h2>
            <p>By accessing this Website, accessible from FREENUMBERSMS.COM, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>
            <h2 class="text-xl">2. Use License</h2>
            <p>Permission is granted to temporarily download one copy of the materials on FMS's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
            <ul>
                <li>modify or copy the materials;</li>
                <li>use the materials for any commercial purpose or for any public display;</li>
                <li>attempt to reverse engineer any software contained on FMS's Website;</li>
                <li>remove any copyright or other proprietary notations from the materials; or</li>
                <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
            </ul>
            <p>This will let FMS to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>
            <h2 class="text-xl">3. Disclaimer</h2>
            <p>All the materials on FMS’s Website are provided "as is". FMS makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, FMS does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>
            <h2 class="text-xl">4. Limitations</h2>
            <p>FMS or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on FMS’s Website, even if FMS or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>
            <h2 class="text-xl">5. Revisions and Errata</h2>
            <p>The materials appearing on FMS’s Website may include technical, typographical, or photographic errors. FMS will not promise that any of the materials in this Website are accurate, complete, or current. FMS may change the materials contained on its Website at any time without notice. FMS does not make any commitment to update the materials.</p>
            <h2 class="text-xl">6. Links</h2>
            <p>FMS has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by FMS of the site. The use of any linked website is at the user’s own risk.</p>
            <h2 class="text-xl">7. Site Terms of Use Modifications</h2>
            <p>FMS may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
            <h2 class="text-xl">8. Your Privacy</h2>
            <p>Please read our Privacy Policy.</p>
            <h2 class="text-xl">9. Governing Law</h2>
            <p>Any claim related to FMS's Website shall be governed by the laws of cn without regards to its conflict of law provisions.</p>
        </div>
    </div>
    </section>
    <footer class="rounded-lg bg-indigo-50 flex flex-wrap items-center justify-between p-4 mt-32">
        <div class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center">&copy; 2021 Free Number SMS</div>
        <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto">
          <div class="mx-auto lg:mx-0 lg:ml-auto">
            <a class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/terms">Terms of services</a>
            <a class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="https://freenumbersms.com/privacy">Privacy</a>
          </div>
          <div class="flex justify-center space-x-6 mt-4 lg:mt-0 lg:ml-8">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="http://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:pinterest" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/share?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:twitter" data-inline="false"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Ffreenumbersms.com">
              <span class="iconify" data-icon="logos:linkedin-icon" data-inline="false"></span>
            </a>
          </div>
        </div>
      </footer>
</body>
</html>
