doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.antialiased.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="lg:order-2 w-auto lg:w-1/5 lg:text-center")
                    a(href="#" class="text-xl text-indigo-600 font-semibold font-heading" ) Dunder Mifflin
                div(class="block lg:hidden")
                    <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>    
                div(class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5")
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" ) Products
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" ) Team
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" ) Customers
                div(class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right")
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" ) Blog
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" ) FAQ
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" ) Contact

            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    span(class="text-sm font-semibold") TAGLINE
                    h2(class="text-5xl mt-2 mb-6 leading-tight font-semibold font-heading") No paper plane can be made without paper


            section(class="py-8 px-4")
                div(class="flex flex-wrap -mx-4")
                    div(class="md:w-1/3 px-4 mb-8 md:mb-0")
                        img(class="rounded shadow", src="img/china.png", alt="")
                        a(title="Netherlands:3197010238008", style="text-decoration:none; color:#330033;", href="#")
                            strong Netherlands  +3197010238008
                    div(class="md:w-1/3 px-4 mb-8 md:mb-0")
                        img(class="rounded shadow", src="img/usa.png", alt="")
                        a(title="USA:013197010238", style="text-decoration:none; color:#330033;", href="#")
                            strong USA  +1970102308
                    div(class="md:w-1/3 px-4 mb-8 md:mb-0")
                        img(class="rounded shadow", src="img/usa.png", alt="")
                        a(title="USA:013197010238", style="text-decoration:none; color:#330033;", href="#")
                            strong USA  +1970102308


            section(class="py-16 px-4 text-center")
                h2(class="text-4xl mb-12 font-semibold font-heading" ) How to get Dunder Mifflined?

                div(class="flex flex-wrap items-center justify-center -mx-8 mb-12")
                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        <svg class="text-indigo-600 w-8 h-8 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>        
                        h3(class="text-2xl mt-6 mb-3 font-semibold font-heading" ) Contact our Sales
                        p(class="text-gray-400 leading-relaxed" ) During the phone call we will be able to present you all details of cooperation, pricing and special offers, suited for your company.

                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        <svg class="text-indigo-600 w-8 h-8 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                        h3(class="text-2xl mt-6 mb-3 font-semibold font-heading" ) Sign the documents
                        p(class="text-gray-400 leading-relaxed" ) We can also talk during business meeting, or visit your office anytime you want! Our employees will provide proper contracts.
                    
                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        <svg class="text-indigo-600 w-8 h-8 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path></svg>        
                        h3(class="text-2xl mt-6 mb-3 font-semibold font-heading" ) Wait for delivery!
                        p(class="text-gray-400 leading-relaxed" ) You don’t buy a pig... or shall I say a paper in a poke. The supplies will be delivered to your company every first Monday of the month.

                div
                    a(href="#" class="inline-block py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" ) Learn more


            section(class="py-12 px-4")
                div(class="max-w-3xl mx-auto")
                    h2(class="text-4xl text-center mb-6 font-semibold font-heading" ) Frequently Asked Questions

                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) How does Dunder Mifflin paper differ from other products?
                        <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    
                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) Why choose Dunder Mifflin instead of some huge paper producer?
                        <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>

                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) When I will receive the products?
                        <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>

                    button(class="flex items-center w-full p-4 text-left rounded shadow")
                        span(class="flex-grow" ) How long does it take to finalize the deal?
                        <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>


            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    h2(class="text-5xl leading-tight font-semibold font-heading" ) No paper plane can be made without paper
                    p(class="mt-6 mb-8 text-gray-400 leading-relaxed" ) Professional, dedicated, local. Dunder Mifflin is on its best patch to change the way you think about paper. That’s us - people who sell limitless paper in the paperless world.
                    a(href="#" class="inline-block py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" ) Sign up

            footer(class="flex flex-wrap items-center justify-between p-4")
                div(class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center" ) &copy; 2020 Dunder Mifflin

                div(class="flex flex-col lg:flex-row items-center w-full lg:w-auto")
                    div(class="mx-auto lg:mx-0 lg:ml-auto")
                        a(class="inline-block mt-0 text-blue-900 hover:text-indigo-600" href="#" ) Products
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="#" ) Team
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-indigo-600" href="#" ) Customers

                    div(class="flex justify-center space-x-6 mt-4 lg:mt-0 lg:ml-8")
                        a(href="#")
                            <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg> 
                        a(href="#")
                            <svg class="text-indigo-600 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path></svg>
